*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
    
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    background: linear-gradient(#000428 , #004e92);
    align-items: center;
    justify-content: center;
}

.sub-container{
    /* border: 1px solid white; */
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    border: 2.5px solid  #fff;
    width: 40%;
    height: 50vh;
    border-radius: 10px;
}

.header{
    border-bottom: 1px solid #fff;
}

.header h1{
    text-align: center;
}

.input-filed{
    /* border: 1px solid #fff; */
    height: 40%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 30px;
}
.input-filed div{
    border: 1px solid #fff;
    width: 80%;
    margin: 10px 20px;
    border-radius: 10px;
    height: 200px;
}

.input-filed div input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border-radius: 12px;
    text-align: center;
    font-size: 20px;
}

.btn{
    /* border: 1px solid black; */
    height: 50px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn input{
    height: 100%;
    width: 80%;
    border-radius: 10px;
    outline: none;
    border: none;
    font-size: 20px;
    background:  #4681f4;
    color: white;

}

/* --------------- coding for mobile ------------ */
@media only screen and (max-width:600px){

   
    .sub-container{
        /* margin-top: -200px; */
        position: fixed;
        width: 100%;
       height: 60vh;
    }

    .sub-container:hover{
        height: 60%;
    }

    .input-filed{
        margin-top: 10%;
    }
    .btn{
        margin-top: 10%;
    }

    .input-filed div input{
        font-size: 25px;
    }
    .header{
        height: 50px;
    }
}